.footer {
    background: #1A1A1A;
    color: #fff;
    overflow: hidden;
    &__wrapper {
        padding: 130px 0 60px;
        border-bottom: 1px solid rgba(#fff, .2);
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin: 0 -15px;
    }
    &__col {
        padding: 0 15px;
    }
    &__logo {
        display: block;
        width: 216px;
    }
    &__social {
        margin: 20px 0 0;
    }
    &__info {
        margin: 25px 0 0;
        &-list {

        }
        &-li {
            margin: 12px 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-item {
            display: flex;
            align-items: center;
            white-space: nowrap;
            fill: #fff;
            &:hover {
                fill: $red;
                color: $red;
            }
            &--phone {
                font: 400 26px / 1 $font;
                svg {
                    width: 16px;
                    height: 16px;
                }
            }
            &--email {
                font: 600 20px / 1 $font;
                text-decoration: underline;
                svg {
                    width: 16px;
                    height: 12px;
                }
            }
        }
        &-icon {
            width: 16px;
            flex-shrink: 0;
            margin: 0 12px 0 0;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        fill: #fff;
        margin: 0 0 20px;
    }
    &__title {
        font: 600 18px / 1 $font;
    }
    &__arrow {
        display: none;
        svg {
            width: 15px;
            height: 9px;
        }
    }
    &__list {
        &-li {
            margin: 15px 0;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-a {
            font: 400 16px / 1.2 $font;
            color: $grey;
            &:hover {
                color: $red;
            }
        }
    }
}

.copyright {
    padding: 20px 0;
    font: 400 16px / 1 $font;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $grey;
    &__title {
        margin: 0 30px;
    }
    &__create {
        display: flex;
        align-items: center;
        &:hover {
            color: $red;
        }
        &-title {
            margin: 0 30px 0 0;
        }
        &-img {
            width: 116px;
        }
    }
}

.payments {
    display: flex;
    margin: 0 -7px;
    &__li {
        padding: 0 7px;
    }
    &__item {
        height: 28px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background: #fff;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .7);
    // backdrop-filter: blur(5px);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: .4s $trans;
    pointer-events: none;
    z-index: 95;
    &.active-target {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
    &--width-header {
        z-index: 70;
    }
    &--width-header2 {
        z-index: 50;
    }
}

.up {
    padding: 0;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 30px;
    z-index: 40;
    border-radius: 10px 10px 0 0;
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    &.active {
        transform: none;
        visibility: visible;
        opacity: 1;
    }
    svg {
        width: 14px;
        height: 8px;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 1700px) {
    .copyright {
        padding-right: 90px;
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        &__wrapper {
            border: 0;
            padding: 110px 0 0;
        }
        &__row {
            flex-wrap: wrap;
            margin: 0 -30px;
        }
        &__col {
            width: 100%;
            border-bottom: 1px solid rgba(#fff, .2);
            padding: 0 30px;
            &--one {
                border: 0;
            }
        }
        &__logo {
            margin: 0 auto;
        }
        &__social {
            display: flex;
            justify-content: center;
        }
        &__info {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            &-item {
                &--phone {
                    font-size: 20px;
                }
                &--email {
                    font-size: 16px;
                }
            }
        }
        &__top {
            height: 54px;
            margin: 0 -30px;
            padding: 0 30px;
            &.active-target {
                color: $red;
                fill: $red;
                background: rgba(#fff, .05);
                svg {
                    transform: scaleY(-1);
                }
            }
        }
        &__arrow {
            display: flex;
            svg {
                transition: .3s transform $trans;
            }
        }
        &__list {
            max-height: 0;
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            transition: .5s $trans;
            &.active-target {
                max-height: 500px;
                padding: 20px 0;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .copyright {
        flex-wrap: wrap;
        justify-content: center;
        padding: 26px 0;
        font-size: 14px;
        &__payments {
            order: 1;
        }
        &__create {
            order: 2;
            width: 100%;
            justify-content: center;
            margin: 15px 0;
        }
        &__title {
            order: 3;
        }
    }
}

@media screen and (max-width: 767px) {
    .up {
        width: 44px;
        height: 44px;
        right: 15px;
    }
}