.page-compare {
    &__categories {
        &-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: -5px;
        }
        &-li {
            padding: 5px;
            width: 20%;
        }
        &-link {
            display: flex;
            align-items: center;
            height: 64px;
            box-shadow: 0px 3.73743px 7.47485px 0px rgba(0, 0, 0, 0.06), 0px 0px 3.73743px 0px rgba(0, 0, 0, 0.04);
            padding: 0 10px;
            transition: .3s $trans;
            &:hover,
            &.active {
                color: $red;
            }
            &.active {
                border: 1px solid $red;
            }
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            flex-shrink: 0;
        }
    }
    &__nav {
        font: 600 17px / 1 $font;
        color: $grey2;
        display: flex;
        align-items: center;
        margin: 20px -15px 0;
        justify-content: flex-end;
        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 8px 15px;
            border-radius: 10px;
            fill: $grey2;
            &:hover {
                color: $red;
                fill: $red;
            }
            &--differents {
                color: #000;
                flex-shrink: 0;
                fill: #000;
                svg {
                    width: 18px;
                    height: 14px;
                }
            }
            svg {
                margin: 0 10px 0 0;
            }
        }
    }
    &__title-category {
        font-size: 24px;
        margin: 20px 0;
    }
    &__products {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0;
    }
    &__bl {
        margin: 0 0 30px;
        &:first-child {
            margin-top: 10px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__title {
        font: 600 18px / 1.2 $font;
        padding: 0 20px 12px;
        border-bottom: 1px solid rgba(#000, .1);
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        font: 400 15px / 1.2 $font;
        color: $grey2;
        &-item {
            padding: 13px 20px;
            width: 296px;
            flex-shrink: 0;
        }
    }
}

@media screen and (max-width: 1300px) {
    .page-compare {
        &__categories {
            &-li {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .page-compare {
        &__nav {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 767px) {
    .page-compare {
        &__categories {
            &-li {
                width: 50%;
            }
            &-link {
                height: 50px;
            }
        }
        &__nav {
            margin: 15px -15px 0;
            flex-wrap: wrap;
            justify-content: center;
            &-right {
                justify-content: center;
            }
            &-item {
                font-size: 14px;
                &--differents {
                    order: 2;
                    font-size: 17px;
                }
            }
        }
        &__title-category {
            font-size: 18px;
        }
        &__products {
            margin: 10px 0 30px;
        }
        &__bl {
            margin: 0 0 15px;
        }
        &__title {
            padding: 0 12px 12px;
        }
        &__list {
            &-item {
                width: 50%;
                padding: 13px 12px;
            }
        }
    }
}