.page-products {
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .page__title {
            margin: 0;
        }
    }
    &__sort {
        margin: 0 0 0 15px;
        &-row {
            display: flex;
            margin: -8px;
        }
        &-col {
            padding: 8px;
        }
    }
    &__wrapper {
        margin: 15px 0 0;
    }
}

.sort {
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 220px;
    &--numbers {
        display: flex;
        align-items: center;
    }
    &--order {
        
    }
    &__title {
        margin: 0 10px 0 0;
    }
    .select2-selection {
        &__rendered {
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
        }
    }
}

@media screen and (max-width: 1400px) {
    .page-products {
        .col {
            width: 25%;
        }
    }
}

@media screen and (max-width: 1200px) {
    .page-products {
        &__info {
            flex-wrap: wrap;
        }
        &__sort {
            width: 100%;
            margin: 15px 0 0;
        }
        .col {
            width: 33.3333%;
        }
    }

    .sort {
        margin: 0;
        &--order {
            width: 280px;
        }
    }
}

@media screen and (max-width: 992px) {
    .page-products {
        &__sort {
            &-col {
                width: 50%;
            }
        }
    }
    
    .sort {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .page-products {
        .row {
            margin: -2.5px;
        }
        .col {
            padding: 2.5px;
            width: 50%;
        }
        &__sort {
            font-size: 14px;
            &-row {
                margin: -5px;
            }
            &-col {
                padding: 5px;
            }
        }
    }
}